@import "tailwindcss";

html {
  overflow-y: scroll;
  touch-action: pan-x pan-y;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  touch-action: pan-x pan-y;
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-melodrama), sans-serif; */
}
